Repository tedilabs/terraform-tfe-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

.github/labeler.yaml:

# Modules
":floppy_disk: project":
- changed-files:
  - any-glob-to-any-file:
    - modules/project/**/*

":floppy_disk: team":
- changed-files:
  - any-glob-to-any-file:
    - modules/team/**/*

":floppy_disk: workspace":
- changed-files:
  - any-glob-to-any-file:
    - modules/workspace/**/*

chore: bump to v0.1.1
  VERSION
Labels: none

feat(workspace): support more attributes
  modules/workspace/README.md
  modules/workspace/main.tf
  modules/workspace/outputs.tf
  modules/workspace/variables.tf
Labels: :floppy_disk: workspace

chore: bump to v0.1.2
  VERSION
Labels: none

fix(workspace): remove deprecated attributes
  modules/workspace/main.tf
Labels: :floppy_disk: workspace

chore: bump to v0.1.3
  VERSION
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

Remove deprecated pull-request-labeler workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#5)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#9)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#11)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#12)
  .github/labels.yaml
Labels: none

feat(team): support organization access
  modules/team/README.md
  modules/team/main.tf
  modules/team/outputs.tf
  modules/team/variables.tf
Labels: :floppy_disk: team

chore: bump to v0.1.4
  VERSION
Labels: none

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/project/README.md
  modules/team/README.md
  modules/workspace/README.md
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

docs: regenerate terraform-docs with shared config (#14)
  modules/project/README.md
  modules/team/README.md
  modules/workspace/README.md
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

refactor(project): add metadata local
  modules/project/main.tf
Labels: :floppy_disk: project
