Repository tedilabs/terraform-tfe-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

refactor(team): add metadata local
  modules/team/main.tf
Labels: :floppy_disk: team

refactor(workspace): add metadata local
  modules/workspace/main.tf
Labels: :floppy_disk: workspace

refactor(workspace): add metadata local (#17)
  modules/workspace/main.tf
Labels: :floppy_disk: workspace

refactor(team): add metadata local (#16)
  modules/team/main.tf
Labels: :floppy_disk: team

refactor(project): add metadata local (#15)
  modules/project/main.tf
Labels: :floppy_disk: project

feat: collect module usage telemetry
  modules/project/README.md
  modules/project/telemetry.tf
  modules/project/versions.tf
  modules/team/README.md
  modules/team/telemetry.tf
  modules/team/versions.tf
  modules/workspace/README.md
  modules/workspace/telemetry.tf
  modules/workspace/versions.tf
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

feat: collect module usage telemetry (#18)
  modules/project/README.md
  modules/project/telemetry.tf
  modules/project/versions.tf
  modules/team/README.md
  modules/team/telemetry.tf
  modules/team/versions.tf
  modules/workspace/README.md
  modules/workspace/telemetry.tf
  modules/workspace/versions.tf
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

fix: honor telemetry opt-out
  modules/project/telemetry.tf
  modules/team/telemetry.tf
  modules/workspace/telemetry.tf
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

fix: honor telemetry opt-out (#19)
  modules/project/telemetry.tf
  modules/team/telemetry.tf
  modules/workspace/telemetry.tf
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/project/README.md
  modules/project/telemetry.tf
  modules/project/versions.tf
  modules/team/README.md
  modules/team/telemetry.tf
  modules/team/versions.tf
  modules/workspace/README.md
  modules/workspace/telemetry.tf
  modules/workspace/versions.tf
Labels: :floppy_disk: project, :floppy_disk: team, :floppy_disk: workspace

.github/labeler.yaml:

# Modules
":floppy_disk: project":
- changed-files:
  - any-glob-to-any-file:
    - modules/project/**/*

":floppy_disk: team":
- changed-files:
  - any-glob-to-any-file:
    - modules/team/**/*

":floppy_disk: workspace":
- changed-files:
  - any-glob-to-any-file:
    - modules/workspace/**/*
