Repository tedilabs/terraform-tfe-modules, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: project, :floppy_disk: workspace

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  modules/project/README.md
  modules/workspace/README.md
Labels: :floppy_disk: project, :floppy_disk: workspace

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#4)
  README.md
Labels: none

feat(project): support tags
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/variables.tf
  modules/project/versions.tf
Labels: :floppy_disk: project

feat(workspace): support tags and execution_mode
  modules/workspace/README.md
  modules/workspace/main.tf
  modules/workspace/outputs.tf
  modules/workspace/variables.tf
Labels: :floppy_disk: workspace

fix(workspace): allow `null` for execution_mode
  modules/workspace/variables.tf
Labels: :floppy_disk: workspace

fix(workspace): update provider version
  modules/workspace/README.md
  modules/workspace/versions.tf
Labels: :floppy_disk: workspace

feat(workspace): support team access management
  modules/workspace/README.md
  modules/workspace/main.tf
  modules/workspace/outputs.tf
  modules/workspace/variables.tf
Labels: :floppy_disk: workspace

feat(project): support team access management
  modules/project/README.md
  modules/project/main.tf
  modules/project/outputs.tf
  modules/project/variables.tf
Labels: :floppy_disk: project

.github/labeler.yaml:

# Modules
":floppy_disk: project":
- changed-files:
  - any-glob-to-any-file:
    - modules/project/**/*

":floppy_disk: workspace":
- changed-files:
  - any-glob-to-any-file:
    - modules/workspace/**/*
